<div class="container">
    <div class="device-block">
        <mat-card class="example-card">
            <!--
            <mat-card-subtitle>Add New Device</mat-card-subtitle>
            -->
            <mat-card-title>Add New RPA</mat-card-title>
            <mat-card-content>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Name/Label *</mat-label>
                        <input matInput name="controlRoomURL" (keyup)="resetError()" [(ngModel)]="newRPA.BotName">
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Bot ID *</mat-label>
                      <input matInput name="username" (keyup)="resetError()" [(ngModel)]="newRPA.BotID">
                    </mat-form-field>
               
              <span *ngIf="isFormInValid" style="color:red;">Please add all the mandetory fields</span>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button (click)="addRPA()">ADD</button>
              <button mat-button (click)="resetForm()">RESET</button>
            </mat-card-actions>
            <mat-card-footer>
              <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
          </mat-card>
    </div>
    <ng-container *ngIf="RPAs">
      <div *ngFor="let rpaItem of RPAs; let i = index" class="device-block">
        <mat-card class="example-card">
          <mat-card-title>RPA #{{i}}</mat-card-title>
          <mat-card-content>
                  <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Name/Label *</mat-label>
                      <input matInput name="BotName" (keyup)="resetErrorForRPA(i)" [(ngModel)]="RPAs[i].BotName">
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Bot ID *</mat-label>
                    <input matInput name="BotID" (keyup)="resetErrorForRPA(i)" [(ngModel)]="RPAs[i].BotID">
                  </mat-form-field>
             
            <span *ngIf="isFormInValidForRPAs[i]" style="color:red;">Please add all the mandetory fields</span>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button (click)="updateRPA(i)">Update</button>
            <button mat-button (click)="deleteRPA(i)">Delete</button>
          </mat-card-actions>
          <mat-card-footer>
            <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
          </mat-card-footer>
        </mat-card>
      </div>
    </ng-container>
    
</div>